<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="account">
    <!-- <a class="navbar-brand" href="#">Angular App</a> -->
    <div class="navbar-nav">
        <!-- Account Dropdown (All users) -->
        <li class="nav-item dropdown"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }">
            <a class="nav-link dropdown-toggle custom-caret"
               href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
               [class.active]="dropdownOpen || isAccountSectionActive()">
                Account
                <span class="custom-caret-icon" [class.open]="dropdownOpen || isAccountSectionActive()">▼</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                <li><a class="dropdown-item" routerLink="/profile-templates" [class.active]="isActiveRoute('/profile-templates')">All Profiles</a></li>
                <li><a class="dropdown-item" routerLink="/profile" [class.active]="isActiveRoute('/profile')">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/account/sessions" [class.active]="isActiveRoute('/account/sessions')">My Sessions</a></li>
                <li><a class="dropdown-item" routerLink="/profile/account-settings" [class.active]="isActiveRoute('/profile/account-settings')">Account Settings</a></li>
            </ul>
        </li>

        <!-- Admin Link -->
        <li class="nav-item" *ngIf="account?.role === Role.Admin || account?.role === Role.SuperAdmin"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }">
            <a class="nav-link"
               routerLink="/admin">
                Admin
            </a>
        </li>

        <!-- Super-Admin Link -->
        <li class="nav-item" *ngIf="account?.role === Role.SuperAdmin"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }">
            <a class="nav-link"
               routerLink="/super-admin">
                Super-Admin
            </a>
        </li>
    </div>
    <div class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="account">
            <div class="nav-link user-status-wrapper">
                Logged in as <span class="user-name">{{ account.firstName }} {{ account.lastName }}</span>
            </div>
        </li>
        <li class="nav-item" *ngIf="account">
            <a class="nav-link logout-link" (click)="logout()">Logout</a>
        </li>
    </div>
</nav>
