PORT=4000
JWT_SECRET=asdaslksdfagperqiojgerotitrw[ripjgtwrpltgre01_mgrtmvtrkproijvodfkv[eorktqporiewoiapfwoeqitero__45w467;ll
MONGODB_URI=mongodb+srv://admin:AaBbCc$12345@cluster0.k82k8qn.mongodb.net/node-mongodb-signup-verification-api?retryWrites=true&w=majority&appName=Cluster0
SMTP_HOST=smtp.google.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=pwelby@gmail.com
SMTP_PASSWORD=bgyk fkot lpdu neuc
SMTP_FROM=pwelby@gmail.com
SMTP_FROM_NAME=Angular Auth 