<nav class="admin-nav navbar navbar-expand navbar-light px-3">
    <div class="navbar-nav">
        <a [routerLink]="['/admin/overview']" routerLinkActive="active" class="nav-item nav-link">Overview</a>
        <a [routerLink]="['/admin/accounts']" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
        <a [routerLink]="['/admin/monitor']" routerLinkActive="active" class="nav-item nav-link">Monitor</a>
        <a [routerLink]="['/admin/settings']" routerLinkActive="active" class="nav-item nav-link">Settings</a>
        <a [routerLink]="['/admin/scripts']" routerLinkActive="active" class="nav-item nav-link">Scripts</a>
    </div>
</nav>