<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="profile-image-container" [class.loading]="imageLoading">
                    <img *ngIf="profile.profileImage" 
                         [src]="profile.profileImage" 
                         alt="Profile picture"
                         class="img-fluid rounded-circle profile-img mb-3"
                         style="max-width: 200px;"
                         (load)="onImageLoaded()"
                         (error)="onImageError()">
                    <div *ngIf="!profile.profileImage && !imageLoading" class="default-avatar">
                        <mat-icon class="large-icon">account_circle</mat-icon>
                    </div>
                    <div *ngIf="imageLoading" class="loading-spinner">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                </div>
                <h2>{{profile.firstName}} {{profile.lastName}}</h2>
                <p class="text-muted">{{profile.position || 'Full Stack Developer'}}</p>
                <p>{{profile.address || 'San Diego, CA'}}</p>
                
                <div class="mt-3">
                    <button mat-raised-button color="primary" class="mr-2">Follow</button>
                    <button mat-stroked-button color="primary">Message</button>
                </div>
            </div>
            
            <div class="col-md-8">
                <mat-card class="mb-3">
                    <mat-card-header>
                        <mat-card-title>Profile Information</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row mb-2">
                            <div class="col-md-4"><strong>Full Name</strong></div>
                            <div class="col-md-8">{{profile.firstName}} {{profile.lastName}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4"><strong>Email</strong></div>
                            <div class="col-md-8">{{profile.email}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4"><strong>Phone</strong></div>
                            <div class="col-md-8">{{profile.phone || '(239) 816-9029'}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4"><strong>Mobile</strong></div>
                            <div class="col-md-8">{{profile.mobile || '(320) 380-4539'}}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4"><strong>Address</strong></div>
                            <div class="col-md-8">
                                <mat-icon class="location-icon" (click)="openMapDialog()">place</mat-icon>
                                {{profile.address || 'Street Address'}}
                                <span *ngIf="profile.city || profile.state || profile.zipCode">
                                    <br>{{profile.city || ''}}{{(profile.city && profile.state) ? ', ' : ''}}{{profile.state || ''}} {{profile.zipCode || ''}}
                                </span>
                                <span *ngIf="!profile.city && !profile.state && !profile.zipCode">
                                    <br>Bay Area, San Francisco, CA
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                
                <div *ngIf="isOwnProfile" class="text-right">
                    <a routerLink="/profile/edit" mat-raised-button color="accent">
                        <mat-icon>edit</mat-icon> Edit
                    </a>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card> 