<div class="profile-bg"></div>
<div class="profile-container">
    <div *ngIf="loading" class="loading-spinner">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div *ngIf="!loading && !profileUser" class="profile-error">
        <mat-icon color="warn">error</mat-icon>
        <h3>Profile Not Found</h3>
        <p>The requested profile could not be found or you don't have permission to view it.</p>
        <button mat-raised-button color="primary" routerLink="/profile">Return to My Profile</button>
    </div>

    <div *ngIf="!loading && profileUser" class="profile-content">
        <!-- Dynamic Template Display -->
        <ng-container [ngSwitch]="currentTemplate">
            <!-- Business Card Template -->
            <app-new-business-profile 
                *ngSwitchCase="'BUSINESS_CARD'"
                [profile]="profileUser" 
                [isOwnProfile]="isOwnProfile">
            </app-new-business-profile>
            
            <!-- Social Media Template -->
            <app-new-social-media-profile 
                *ngSwitchCase="'SOCIAL_MEDIA'"
                [profile]="profileUser" 
                [isOwnProfile]="isOwnProfile">
            </app-new-social-media-profile>
            
            <!-- Standard Template (Default) -->
            <app-new-standard-profile 
                *ngSwitchDefault
                [profile]="profileUser" 
                [isOwnProfile]="isOwnProfile">
            </app-new-standard-profile>
        </ng-container>
        <!-- Floating Chat Icon and Chat Dock (now global for all profiles) -->
        <div class="floating-chat-icon" (click)="toggleChatList()">
            <mat-icon>chat</mat-icon>
            <div class="online-users-badge" *ngIf="onlineUsersCount > 0">
                {{ onlineUsersCount }}
            </div>
        </div>
        <app-chat-dock 
            [dockOpen]="showChatList"
            (closeDock)="toggleChatList()">
        </app-chat-dock>
    </div>
</div> 