<div class="profile-container">
    <div *ngIf="loading" class="loading-spinner">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div *ngIf="!loading && profileUser" class="profile-content">
        <!-- Template selector -->
        <div class="template-selector">
            <button mat-button color="warn" class="template-btn active-template">Social Media</button>
        </div>

        <!-- Profile Content -->
        <app-new-social-media-profile [profile]="profileUser" [isOwnProfile]="isOwnProfile"></app-new-social-media-profile>
    </div>
</div> 