<h2 style="text-align: center; margin-bottom: 32px;">{{ title }}</h2>
<div class="preview-template-card">
  <div class="preview-template-row">
    <div class="preview-template-content">
      <ng-content select="[content]"></ng-content>
    </div>
    <div class="preview-template-description">
      <div class="preview-template-buttons" style="text-align: right; margin-bottom: 16px;">
        <ng-content select="[buttons]"></ng-content>
      </div>
      <div>
        <ng-content select="[description]"></ng-content>
      </div>
    </div>
  </div>
</div> 