<h1>Accounts</h1>
<p>All accounts from secure (admin only) api end point. Accounts created here DO NOT need to be email authenticated.</p>
<button mat-raised-button color="primary" (click)="addAccount()" class="mb-3">Create Account</button>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="accounts" class="accounts-table">
        <!-- Thumbnail Column -->
        <ng-container matColumnDef="thumbnail">
            <th mat-header-cell *matHeaderCellDef> Profile </th>
            <td mat-cell *matCellDef="let account" class="thumbnail-cell">
                <div class="profile-thumbnail">
                    <img *ngIf="account.profileImage" 
                         [src]="account.profileImage" 
                         [alt]="account.firstName + ' ' + account.lastName + ' profile'"
                         (error)="account.profileImage = null"
                         onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';">
                    <mat-icon *ngIf="!account.profileImage" 
                             class="placeholder-icon"
                             [style.display]="account.profileImage ? 'none' : 'flex'">
                        account_circle
                    </mat-icon>
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let account">{{account.firstName}} {{account.lastName}}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let account">{{account.email}}</td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let account">{{account.role}}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let account" class="actions-column">
                <button mat-icon-button [routerLink]="['/admin/accounts/edit', account.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteAccount(account.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Loading Row -->
        <tr *matNoDataRow>
            <td class="mat-cell" colspan="5">
                <mat-progress-spinner *ngIf="!accounts" 
                                   [diameter]="40"
                                   mode="indeterminate"
                                   class="spinner-center">
                </mat-progress-spinner>
                <div *ngIf="accounts.data.length === 0">No accounts found</div>
            </td>
        </tr>
    </table>
</div>

<!-- Paginator moved outside the container -->
<mat-paginator [pageSize]="4"
               [pageSizeOptions]="[4, 5, 7, 10]"
               showFirstLastButtons
               aria-label="Select page of accounts">
</mat-paginator>
