<div class="social-media-container">
    <app-title [title]="'Social Media Profile Template'" [subtitle]="'A modern, social media focused profile design'"></app-title>
    
    <div class="template-actions">
        <button mat-raised-button color="primary" (click)="useTemplate()">
            <mat-icon>check</mat-icon>
            Use This Template
        </button>
        <button mat-stroked-button (click)="previewTemplate()">
            <mat-icon>visibility</mat-icon>
            Preview
        </button>
    </div>
</div> 