<!-- NEW PROFILE COMPONENT WITH TEMPLATE SELECTION -->
<!-- <h1>My Profile (New Multi-Template Version)</h1> -->
<div *ngIf="account" class="profile-container">
    <!-- Current Template Display -->
    <div class="current-template">
        <div [ngSwitch]="currentTemplate">
            <app-standard-profile *ngSwitchCase="ProfileTemplateType.STANDARD" [profile]="account" [isOwnProfile]="true"></app-standard-profile>
            <app-business-card *ngSwitchCase="ProfileTemplateType.BUSINESS_CARD" [profile]="account" [isOwnProfile]="true"></app-business-card>
            <app-social-media *ngSwitchCase="ProfileTemplateType.SOCIAL_MEDIA" [profile]="account" [isOwnProfile]="true"></app-social-media>
            <app-standard-profile *ngSwitchDefault [profile]="account" [isOwnProfile]="true"></app-standard-profile>
        </div>
    </div>
    
    <div class="profile-actions">
        <p><a routerLink="edit" mat-button color="primary">Update Your Profile</a></p>
    </div>
</div>

<div *ngIf="!account" class="loading">
    <mat-spinner></mat-spinner>
</div> 