<!-- NEW PROFILE COMPONENT WITH TEMPLATE SELECTION -->
<!-- <h1>My Profile (New Multi-Template Version)</h1> -->
<div *ngIf="account" class="profile-container">
    <!-- Current Template Display -->
    <div class="current-template">
        <div [ngSwitch]="currentTemplate">
            <app-new-standard-profile *ngSwitchCase="ProfileTemplateType.STANDARD" [profile]="account" [isOwnProfile]="true"></app-new-standard-profile>
            <app-new-business-profile *ngSwitchCase="ProfileTemplateType.BUSINESS_CARD" [profile]="account" [isOwnProfile]="true"></app-new-business-profile>
            <app-new-social-media-profile *ngSwitchCase="ProfileTemplateType.SOCIAL_MEDIA" [profile]="account" [isOwnProfile]="true"></app-new-social-media-profile>
            <app-new-standard-profile *ngSwitchDefault [profile]="account" [isOwnProfile]="true"></app-new-standard-profile>
        </div>
    </div>
</div>

<div *ngIf="!account" class="loading">
    <mat-spinner></mat-spinner>
</div> 